*{
    margin: 0;
    padding: 0;

}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: forestgreen;
}

canvas{
    border: solid 4px white;
}